/* Typography */
.h1 {
  @apply text-5xl font-extrabold;
}

.h2 {
  @apply text-4xl font-extrabold;
}

.h3 {
  @apply text-3xl font-extrabold;
}

.h4 {
  @apply text-2xl font-extrabold;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-dmSans);
}

@screen md {
  .h1 {
    @apply text-7xl;
  }

  .h2 {
    @apply text-5xl;
  }

  .h3 {
    @apply text-4xl;
  }
}

.h1 {
  @apply font-dmSans;
}

/* Buttons */
.btn,
.btn-sm {
  @apply text-sm font-medium inline-flex items-center justify-center border border-transparent rounded-full transition duration-150 ease-in-out;
}

/* .btn {
  @apply px-4 py-1.5;
}

.btn-sm {
  @apply px-3 py-1;
} */

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply bg-slate-800 border border-transparent focus:border-purple-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply text-slate-200 text-sm px-3 py-1.5;
}

.form-input,
.form-textarea {
  @apply placeholder-slate-500;
}

.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply text-purple-600 rounded-sm;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p,
span,
div,
ul,
ol,
li {
  font-family: var(--font-roboto);
}

/* when you add new card to the community circle graph, you can change the styles here for small adjustment*/
.ciclegraph:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
}

.ciclegraph .circle {
  position: absolute;
  top: 50%; /* adjust this value to shift cards vertically */
  left: calc(50% - 100px); /* adjust this value to shift cards horizontally */
  margin: calc(-100px / 2);
  width: 250px;
}

/* Buttons */
.btn,
.btn-sm {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-lg text-sm font-medium transition-all;
}

.btn {
  @apply px-4 py-[11px] shadow-lg;
}

.btn-sm {
  @apply px-3 py-[5px] shadow;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply border border-gray-200 bg-white focus:border-blue-300;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  @apply rounded-lg;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply px-4 py-2.5 text-sm shadow-sm;
}

.form-input,
.form-textarea {
  @apply placeholder-gray-400;
}

.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply rounded-sm text-gray-800;
}
